.section4 {
  margin: 50px 0;
}
.payment {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  gap: 70px;
}
.payment-img img {
  width: 550px;
}
.payment-text small {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 2.0999999046325684px;
  color: #244886;
}
.payment-text h2 {
  width: 500px;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: -1.5px;
}
.payment-text p {
  width: 454px;
  font-size: 18px;
  line-height: 42px;
}
.payment-text .btn {
  color: white;
  background-color: #1f3e76;
  border-radius: 20px;
  border: 1px solid white;
}

.question {
  width: 700px;
  margin: 70px 0 100px 300px;
}
.question small {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 2.0999999046325684px;
  color: #254887;
}
.question h4 {
  font-size: 36px;
  line-height: 55px;
  letter-spacing: -1.5px;
  margin-bottom: 50px;
}
.accordion {
  box-shadow: none;
  border: none !important;
}
.accordion-item {
  border: 1px solid rgb(235, 235, 235);
}
